/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  max-inline-size: 700px;
  min-block-size: 100dvb;
  margin: 0 auto;
  font-family: var(--main-font, 'Inter-Variable', 'Arial');
  font-variation-settings: 'wght' var(--font-weight-normal);
  background-color: var(--main-color, #fff);
  color: var(--accent-color, #000);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  margin-block-start: 100px;
  font-family: var(--accent-font, 'PressStart2P', 'Arial');
  text-transform: uppercase;
  font-weight: var(--font-weight-normal, 400);
  background-color: var(--main-color, #fff);
  box-shadow: var(--box-shadow-content, inset 0 0 0 2px var(--accent-color, #000));
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 136px 0 25px 0;
}

@media (width <= 375px) {
  .header {
    padding: 120px 0 25px 0;
  }
}

.header_logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header_title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);;
}

.theme-menu {
  margin-top: 5px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.theme-menu__button {
  padding: 0;
  margin-left: 18px;
  position: relative;
  display: block;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: var(--font-weight-normal, 400);
  transition: opacity 0.4s ease;
}

.theme-menu__button:disabled{
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  animation: pointer 0.5s infinite ease-in-out alternate;
  width: 14px;
  height: 14px;
}

/* .theme-menu__button::after {
  content: '';
  display: block;
  background-color: var(--accent-color);
  transition: scale 0.3s;
  transform-origin: left;
  inline-size: 100%;
  block-size: 2px;
  scale: 0;
} */

.main-section {
  margin-top: 105px;
  display: grid;
  grid-row-gap: 55px;
}

.article {
  background-color: var(--main-color, #fff);
  box-shadow: var(--box-shadow-content, inset 0 0 0 2px var(--accent-color, #000));
  font-family: var(--main-font, 'Inter-Variable', 'Sans-serif');
}

.article-title {
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.article-img {
  inline-size: 100%;
  object-fit: cover;
  display: block;
  background-position: center;
  border: solid 2px var(--accent-color, #000);
}

.article-conteiner {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  width: clamp(20.063rem, 30.516vw + 12.91rem, 40.375rem);
}

.article-text {
  width: clamp(20.063rem, 30.516vw + 12.91rem, 40.375rem);
  font-variation-settings: 'wght' var(--font-weight-normal);
  font-size: 18px;
  line-height: 1.16;
}

