/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P';
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --accent-color: #000000;
  --main-color: #ffffff;
}