/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable', sans-serif;
  --accent-font: 'PressStart2P', Arial;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --accent-color: #000;
  --main-color: #fff;
  --repeating-gradient: #d3d3d3;
	--linear-gradient: #e7e7e7 0.01%, #1a1a1a;
  --bg-image: repeating-linear-gradient(to right, var(--repeating-gradient) 0px 2px, transparent 0px 4px),
  repeating-linear-gradient(to bottom, var(--repeating-gradient) 0px 2px, transparent 0px 4px),
  linear-gradient(var(--linear-gradient));
  --box-shadow-content: inset 0 0 0 2px var(--accent-color, #000);    
  --box-shadow-button: 2px 2px 0 var(--accent-color, #000);
  --text-stoke: #fff;
  --button-text-color: #fff; 
  --heart-contour: #000;
  --heart-fill: #000;
  --heart-fill-active: #FF0000;
  --sparks-color: #FF0000;
}
